{% load static %}

<header id="headermenu">
  <p class=title><a href="/">ロングリブネット</a></p>
  <ul>
    <li id="rightmenu_trigger">
      <a href="#"><img src="{% static 'icons/hamberger03.png' %}" alt="MENU"></a>
    </li>
    <li id="rightmenu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/#message">Message</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/#services">Services</a></li>
        <li><a href="/#contact">Contact</a></li>
      </ul>
    </li>
  </ul>
</header>
