{% load static %}

<header id="headermenu">
  <p class=title>ナガズミデンサン</p>
  <ul>
    <li id="rightmenu_trigger">
      <a href="#"><img src="{% static 'icons/hamberger02.png' %}"></a>
    </li>
    <li id="rightmenu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/services/">Services</a></li>
        <li><a href="/contact/works/">Works</a></li>
        <li><a href="/contact/">Contact</a></li>
        <li><a href="/privacy/">blog</a></li>
      </ul>
    </li>
  </ul>
</header>
